nav{
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 50px;
}
nav a{
    font-size: 20px;
    color: aqua;
}

    
@media screen  and (max-width: 600px){
nav {
    flex-direction: column;
    height: auto;
    background-color: red;
}



}

    
